


  
  
  .App {
    margin: auto;
    /* padding-left: 50px;
    padding-right: 50px; */
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "footer";
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
    max-width: 1600px;
    background-color: #212121;
  }
  
  .App-header {
    grid-column: header;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #6f99ba;
    padding-top: 150px;
    padding-bottom: 130px;
  }
  
  .input,
  .results,
  .footer {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: white;
    padding: 10px;
  }
  
  .input {
    grid-column: sidebar;
    grid-row: 2/3;
    padding-left: 0px;
    justify-self: end;
  }
  
  .results {
    grid-column: content;
    grid-row: 2/3;
    padding-right: 150px;
  }
  
  .footer {
    grid-column: footer;
    grid-row-start: 5;
  }
  
  a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #496679;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #f38eb0;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 800px) {
    .App {
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 2fr 1fr;
      grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
      grid-row-gap: 20px;
      justify-items: stretch;
      align-items: stretch;
      height: auto;
      height: 100vh;
      max-width: 1600px;
      overflow: auto;
    }
  
    .App-header {
      grid-column: header;
      grid-row: header;
      display: flex;
      justify-content: center;
      padding-top: 0px;
      padding-bottom: 80px;
      padding-top: 50px;
    }
  
    .input {
      grid-column: sidebar;
      grid-row: sidebar;
      padding-bottom: 20px;
      margin-bottom: 0px;
      justify-self: center;
    }
  
    .results {
      grid-column: content;
      grid-row: content;
      padding-left: 0px;
      padding-right: 0px;
      padding-top:0px;
      margin-top: 0px;
    }
  
    .footer {
      grid-column: footer;
      grid-row: footer;
      position: absolute;
      bottom: 0px;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  