body {
  margin: 0px !important;
  padding: 0px !important;
}

.Index {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 20fr 20fr 1fr;
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
    max-width: 1600px;
    background-color: #212121;
    font-family: "Roboto", sans-serif;
    color: white;
  }

 .Header {
  grid-column: header;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #6f99ba;
  padding-top: 150px;
  }

  .Menu {
    grid-row: content;
    font-family: "Roboto", sans-serif;
    color: white;
  }

  .Menu-item {
    margin-top: 50px;
  }

  a:link {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: #f38eb0;
    text-decoration: none;
  }
  
  a:active {
    color: #f38eb0;
    text-decoration: none;
  }

  .Footer {
    grid-row: footer;
    bottom: 0px;
    text-align: center;
    color: white;
  }

  .Table {
    margin-left: 100px;
  }
