body {
  margin: 0px !important;
  padding: 0px !important;
}

.Main-Overflow {
  margin: auto;
  text-align: center;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  color: white;
}

.Input-Overflow {
    margin-top: 0px;
}

.Main {
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-template-rows: 3fr 8fr 1fr;
  grid-template-areas:
    "input"
    "result"
    "footer";
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  height: 100vh;
  max-width: 1600px;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow:scroll;
}

.Input {
  grid-area: input;
  margin: 10px;
}

.Result {
  grid-area: result;
  margin: 10px;
}

.Form {
  grid-area: result;
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid;
  padding: 10px;
}

input[type="submit"] {
  background-color: #6f99ba;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
  font-size: 14px;
}

input:hover[type="submit"] {
  background-color: #f38eb0;
}

input[type="text"],
select {
  border: none;
  padding: 8px 7px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 14px;
}

.Footer {
  grid-area: footer;
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  font-weight: bold;
}

.Credits {
  grid-row: footer;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}
.form-group label.right-inline {
  text-align: right;
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-top: -4px;
}

.Checkboxes {
  padding: 20px;
  display: inline;
  /* text-align: left !important; */
}

a {
    font-weight: bold;
}
