body {
  margin: 0px !important;
  padding: 0px !important;
}

.Main {
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-template-rows: 3fr 8fr 1fr;
  grid-template-areas:
    "input"
    "result"
    "footer";
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  height: 100vh;
  max-width: 1600px;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  color: white;
}

.Input {
  grid-area: input;
  margin: 10px;
}

.Result {
  grid-area: result;
  margin: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid;
  padding: 10px;
}

input[type="submit"] {
  background-color: #6f99ba;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
  font-size: 14px;
}

input:hover[type="submit"] {
  background-color: #f38eb0;
}

input[type="text"] {
  border: none;
  padding: 8px 7px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 14px;
}

.Footer {
  grid-area: footer;
  position: absolute;
  left: 10px;
}

.Credits {
    grid-row: footer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
